<h1>About</h1>
<h2>This site is dedicated to those of us who have a deep love and appreciation for Japanes animation.</h2>
<p>Just hit the button and we will generate a random new series, give it an episode or two, discover more adventure, stories, and characters in a format you love as much as we do</p>


